html,
body {
    background: black;
    height: 100%;
    margin: 0;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    bottom: 10%;
}

.btn {
}

h2 {
    margin: auto 30px;
}

canvas {
    border: 1px solid white;
}